/* You can add global styles to this file, and also import other style files */


.mouse-hover{
    cursor:pointer;
}

form label{
    text-transform: uppercase;
    color:gray;
}

form input{
    font-weight: 500;
}

font input::placeholder{
    color: aqua;
    font-weight: 300;
}

form.submitted input.ng-invalid{
    border-color: red;
}